<h1>Your studio booking</h1>

<%= 'Studio Number' %><br>
<%= @studio.studio_num %><br>
</p>
<p>
<%= 'start time' %><br>
<%= @studio.time_booked_start %><br>
</p>
<p>
<%= 'end time' %><br>
<%= @studio.time_booked_end %><br>
</p>